body {
  background-image: url("https://blog.shodan.io/content/images/2015/07/Library-with-a-book-ladde-014.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  text-align: left;
  font-family: "Arial", Helvetica, sans-serif;
  padding: 75px;
  border: 1px solid black;
  margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

.dropbtn {
    background-color: #4CAF50;
    min-width: 50%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    background-color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: red}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: yellow;
}
